body{
    text-align: center;
    margin: 20px;
}
.avatar{
    width: 150px;
}
.card{
    display:flex;
    padding: 20px;
    border: 1px dotted darkblue;
}
.dotted {
    border: 3px dotted darkred;
}
.information{
    text-color: red;
}